/*****************************************
*
* GLOBAL STYLES
*
******************************************/
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	color: #c9c1ba;
}
body {
	background: #171717;
	background-image: url(background.png);
    background-attachment:scroll;
	font-family: Crimson Text, TrueType;
	font-size: 17px;
	color: #c9c1ba;
	line-height: 1.3;
	overflow-x: hidden;
	overflow-y: scroll;
	word-wrap: break-word;
	scrollbar-face-color:#302a27;
	scrollbar-track-color:#130e0c;
	scrollbar-highlight-color:#35302b;
	cursor: url('cursor.cur'), auto;
}

em {
	font-style: normal;
	font-weight: bold;
}

img {
	margin: 0;
	padding: 0;
	line-height: 1;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
}
img.icon {
	height: 1em;
	min-height: 16px;
	width: auto;
	vertical-align: bottom;
}

.loud1 {
	font-family: monospace;
	color: #999;
}

.r:before { /* "repeated" badge class for combined messages */
	content: 'x';
}
.r {
	display: inline-block;
	min-width: 0.5em;
	font-size: 0.7em;
	padding: 0.2em 0.3em;
	line-height: 1;
	color: white;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: crimson;
	border-radius: 10px;
}

.container {
	margin-top: 5px;
	margin: 0;
	left: 8px;
	padding: 0;
	position: relative;
}
.steplabel {
	font-size: 11px;
	width: 64px;
	white-space: nowrap;
	position: relative;
	left: -28px;
	top: 6px;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
}

.steps {
	position: absolute;
	top: -4px;
	left: -3px;
	display: flex;
	justify-content: space-between;
	width: 200px;
}

.step {
	width: 5px;
	background: #10100e;
	height: 5px;
	border: 2px solid #201f1a;
	border-radius: 50%;
}
.step.selected {
	border: 2px solid #aa7049;
}
.step.completed {
	border: 2px solid #aa7049;
	background: #aa7049;
}


.step.selected {
	border: 2px solid #aa7049;
}

.step.completed {
	border: 2px solid #aa7049;
	background: #aa7049;
}

.progress {
	height: 50%;
	width: 190px;
	position: absolute;
	left: 2px;
	top: -1px;
	border-bottom: 2px solid #000000;
	z-index: -1;
}

.percent {

	width: 0%;
	position: absolute;
	top: 0px;
	left: 0px;

	height: 100%;
	border-bottom: 2px solid #aa7049;
	z-index: 1;

	transition: width 1s;
}

/*
a {text-decoration:none;outline: none;border: none;margin:-1px;}
a:focus{outline:none;}
a:hover {color:#0d0d0d;background:#505055;outline: none;border: none;}
a.active { text-decoration:none; color:#533333;}
a.inactive:hover {color:#0d0d0d;background:#bb0000}
a.active:hover {color:#bb0000;background:#0f0f0f}
a.inactive:hover { text-decoration:none; color:#0d0d0d; background:#bb0000}
fix2*/

a {
	float: top;
	font-family: "Cond";
	text-shadow: 0px 0px 3px #a80404;
	color: #ac3b49;
	text-decoration: none;
	outline: none;
	border: none;
	font-size: 90%;
}

a:hover {
	color: #f662ff;
	text-shadow: 0px 0px 3px #ae58be;
	background: rgba(255, 0, 0, 0.2);
	outline: none;
	border: none;
	font-weight: bold;
}

a.dim {
	color: #707070;
	text-shadow: 0px 0px 3px #707070;
}

/*fix1 */

slink {
	float: top;
	font-family: "Cond";
	text-shadow: 0px 0px 3px #a8a804;
	color: #acac49;
	text-decoration: none;
	outline: none;
	border: none;
	font-size: 90%;
}

slink:hover {
	color: #f6ffff;
	text-shadow: 0px 0px 5px #999;
	outline: none;
	border: none;
	font-weight: bold;
}

slink.dim {
	color: #707070;
	text-shadow: 0px 0px 3px #707070;
}

.snamea {
	color: #b9439f;
	font-weight: bold;
}

.activefight2 {
	color: #dc3bcb;
}


.sname {
	opacity: 0.8;
	font-weight: bold;
}

#ptable {
	border: none;
	border-collapse: collapse;

}

#ptable th {
	width: 50%;
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	font-weight: bold;
}

#ptable tr {
	border: none;
	border-collapse: collapse;
}

#ptable tr td {
	background-color: rgba(40, 20, 20, 0.25);
}

#ptable tr td:nth-child(2n) {
	background-color: rgba(50, 50, 50, 0.25);
}

#ptable td+td {
	border-left: 2px solid rgba(60, 60, 60, 0.5);
}

.termtab {
	width: 90%;
	border-collapse: collapse;
}

.termint {
	padding: 5px;
	background: rgba(255, 255, 0, 0.05);
}

.termint:nth-child(2n) {
	background: rgba(150, 150, 150, 0.05);
}

.chatimg {
	height: 24px;
	width: 24px;
	position: relative;
	background-image: url('itembackground.png');
	background-size: 100% auto;
	top: 7px;
	margin-top: -12px;
	margin-left: -2px;
	margin-right: -2px;
}


.chatimg:hover {
	height: 32px;
	width: 32px;
	top: 8px;
	margin-top: -8px;
	margin-left: -3px;
	margin-right: -3px;
}

.hiddenmessage {
	color: #575757;
	text-shadow: 0px 0px 0px #fff;
}

.ovr {
	position: relative;
	display: inline-block;
}


.ovr:hover .htxt {
	visibility: visible;
}

@keyframes soap {
	0% {
		opacity: 0.5;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.5;
	}
}

@keyframes shaker {
	0% {
		transform: skewX(-15deg);
	}

	25% {
		transform: skewX(15deg);
	}

	50% {
		transform: skewX(-15deg);
	}

	75% {
		transform: skewX(15deg);
	}

	100% {
		transform: skewX(0deg);
	}
}


.hint {
	width: 80%;
	border: 1px solid #333;
	padding: 5px;
	position: absolute;
	top: 0px;
	opacity: 0.95;
	right: 16px;
	pointer-events: none;
	color: #bbbbbb;
	font-size: 95%;
	z-index: 100;
	background-color: #281210;
	background-image: url('helpbg.png');
	box-shadow: 3px 3px 10px #111;
}

.statustext {
	color: #6e6e6e;
}

.shaketext {
	color: #ffffff;
	animation: .4s shaker infinite alternate;
}

.failednigga {
	color: #771212;
	animation: .4s shaker infinite alternate;
}

.soapytext {
	color: #ffbbff;
}

.name {
	font-weight: bold;
}

.name.name1 {
	color: #938532;
}

.name.name2 {
	color: #a49e6f;
}

.name.name3 {
	color: #918d6a;
}

.name.name4 {
	color: #328e8f;
}

.name.name5 {
	color: #3ba48d;
}

.name.name6 {
	color: #007196;
}

.name.name7 {
	color: #328e8f;
}

.name.name8 {
	color: #c36d73;
}

.name.name9 {
	color: #dd2424;
}

.name.name10 {
	color: #696969;
}


.htxt {
	visibility: hidden;
	width: 120px;
	pointer-events: none;
	background-color: #281210;
	background-image: url('helpbg.png');
	opacity: 0.95;
	color: #bbbbbb;
	font-size: 75%;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;

	margin-left: -60px;
	box-shadow: 3px 3px 10px #111;
}

kbd {
	display: inline-block;
	border: 1px solid #413930;
	border-radius: 4px;
	padding: 0.1em 0.5em;
	color: #000;
	font-weight: bold;
	margin: 0 0.2em;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #5e574f inset;
	background-color: #777;
}

.htxr {
	left: 50%;
	bottom: 100%;
}

.htxl {
	top: -5px;
	right: 105%;
}

#shadow {
	background-repeat: repeat-x;
	z-index: -1;
	background-image: url('chatshadow.png');
	position: absolute;
	height: 610px;
	top: -10px;
	left: -5px;
	width: 1024px;
}

#scrollbar_container {
	position: absolute;
	left: 5px;
	bottom: 4%;
	width: 100%;
	height: 96%;
	border-bottom: 1px solid black;
}

.scrollbar_track {
	position: absolute;
	top: 16px;
	right: 8px;
	width: 16px;
	background-image: url('chatscrollbar-bg.png');

	cursor: move;
}

.scrollbar_handle {
	width: 14px;
	right: 8px;
	position:absolute;
	overflow: auto;

	background-image: url('chatscroller-m.png');
	cursor: move;
}

#scrollbar_content {
	overflow: hidden;
	left: 10px;
	right: 8px;
	bottom: 0px;
	width: 100%;
	height: 98%;
}

.infodiv {
	padding: 10px;
	padding-right: 10px;
	margin-left: 20px;
	width: 80%;
	background-color: rgba(50, 50, 50, 0.3);
	border: 1px solid rgba(50, 50, 50, 0.3);
}

.infodiv.mood {}

hr {
	color: #444;
	border-color: #444;
	width: 80%;
}

.scrollbart {
	position: relative;
	width: 14px;
	height: 50%;
	overflow: auto;
	background-image: url('chatscroller-t.png');
	background-repeat: no-repeat;
	cursor: move;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.scrollbarb {
	position: relative;
	width: 14px;
	height: 50%;
	overflow: auto;
	background-image: url('chatscroller-b.png');
	background-repeat: no-repeat;
	background-position: left bottom;
	cursor: move;
	border: 0px;
	padding: 0px;
	margin: 0px;
}



.scrollbtnup {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 1px;
	right: 8px;
	overflow: auto;
	background-image: url('chatscrollbar-scrollup.png');
}

.scrollbtndown {
	width: 16px;
	height: 16px;
	position: absolute;
	bottom: 0px;
	right: 8px;
	overflow: hidden;
	background-image: url('chatscrollbar-scrolldown.png');

}

.moodbox {
	display: inline-block;
	min-width: 10px;
	width: 280px;
	text-align: left;
	padding: 10px;
	font-size: 15px;
	vertical-align: middle;
	background-color: rgba(50, 50, 50, 0.3);
	border: 1px solid rgba(50, 50, 50, 0.3);
	*zoom: 1;
	*display: inline;
}

a.visited {color: #7c00e6;}
a:visited {color: #7c00e6;}
a.popt {text-decoration: none;}

/*****************************************
*
* OUTPUT NOT RELATED TO ACTUAL MESSAGES
*
******************************************/
#loading {
	position: fixed;
	width: 300px;
	height: 150px;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -75px 0 0 -150px;
}
#loading i {display: block; padding-bottom: 3px;}

#messages {
	font-size: 13px;
	padding: 3px;
	margin: 0;
	word-wrap: break-word;
}
#newMessages {
	position: fixed;
	display: block;
	bottom: 0;
	right: 0;
	padding: 8px;
	background: #202020;
	text-decoration: none;
	font-variant: small-caps;
	font-size: 1.1em;
	font-weight: bold;
	color: #c9c1ba;
}
#newMessages:hover {background: #000000;}
#newMessages i {vertical-align: middle; padding-left: 3px;}
#ping {
	position: fixed;
	top: 0;
	right: 135px;
	width: 45px;
	background: #202020;
	height: 30px;
	padding: 8px 0 2px 0;
}
#ping i {display: block; text-align: center;}
#ping .ms {
	display: block;
	text-align: center;
	font-size: 11pt;
	padding-top: 2px;
}
#userBar {
	position: fixed;
	top: 0;
	right: 0;
}
#userBar .subCell {
	background: #202020;
	height: 30px;
	padding: 5px 0;
	display: block;
	color: #EEEEEE;
	text-decoration: none;
	line-height: 28px;
	border-top: 1px solid #171717;
}
#userBar .subCell:hover {background: #202020;}
#userBar .toggle {
	width: 45px;
	background: #202020;
	border-top: 0;
	float: right;
	text-align: center;
}
#userBar .sub {clear: both; display: none; width: 180px;}
#userBar .sub.scroll {overflow-y: scroll;}
#userBar .sub.subCell {padding: 3px 0 3px 8px; line-height: 30px; font-size: 0.9em; clear: both;}
#userBar .sub span {
	display: block;
	line-height: 30px;
	float: left;
}
#userBar .sub i {
	display: block;
	padding: 0 5px;
	font-size: 1.1em;
	width: 22px;
	text-align: center;
	line-height: 30px;
	float: right;
}
#userBar .sub input {
	position: absolute;
	padding: 7px 5px;
	width: 121px;
	line-height: 30px;
	float: left;
}
#userBar .topCell {border-top: 0;}

/* POPUPS */
.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	background: #ddd;
}
.popup .close {
	position: absolute;
	background: #aaa;
	top: 0;
	right: 0;
	color: #333;
	text-decoration: none;
	z-index: 2;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
}
.popup .close:hover {background: #999;}
.popup .head {
	background: #999;
	color: #ddd;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bold;
	border-bottom: 2px solid green;
}
.popup input {border: 1px solid #999; background: #fff; margin: 0; padding: 5px; outline: none; color: #333;}
.popup input[type=text]:hover, .popup input[type=text]:active, .popup input[type=text]:focus {border-color: green;}
.popup input[type=submit] {padding: 5px 10px; background: #999; color: #ddd; text-transform: uppercase; font-size: 0.9em; font-weight: bold;}
.popup input[type=submit]:hover, .popup input[type=submit]:focus, .popup input[type=submit]:active {background: #aaa; cursor: pointer;}

.changeFont {padding: 10px;}
.changeFont a {display: block; text-decoration: none; padding: 3px; color: #333;}
.changeFont a:hover {background: #ccc;}

.highlightPopup {padding: 10px; text-align: center;}
.highlightPopup input[type=text] {display: block; width: 215px; text-align: left; margin-top: 5px;}
.highlightPopup input.highlightColor {background-color: #FFFF00;}
.highlightPopup input.highlightTermSubmit {margin-top: 5px;}

/* ADMIN CONTEXT MENU */
.contextMenu {
	background-color: #ddd;
	position: fixed;
	margin: 2px;
	width: 150px;
}
.contextMenu a {
	display: block;
	padding: 2px 5px;
	text-decoration: none;
	color: #333;
}

.contextMenu a:hover {
	background-color: #ccc;
}

/* ADMIN FILTER MESSAGES MENU */
.filterMessages {padding: 5px;}
.filterMessages div {padding: 2px 0;}
.filterMessages input {}
.filterMessages label {}

.icon-stack {height: 1em; line-height: 1em; width: 1em; vertical-align: middle; margin-top: -2px;}


/*****************************************
*
* OUTPUT ACTUALLY RELATED TO MESSAGES
*
******************************************/

/* MOTD */
.motd {
    color: #d3c5af; /* Lighter Text for MOTD */
    font-family: Crimson Text, TrueType;
}

.motd h1, .motd h2, .motd h3, .motd h4, .motd h5, .motd h6 {
    color: #d3c5af;
    text-decoration: underline;
}

.motd a, .motd a:link, .motd a:visited, .motd a:active, .motd a:hover {
    color: #d3c5af;
}

/* ADD HERE FOR BOLD */
.bold, .name, .prefix, .ooc, .looc, .adminooc, .admin, .medal, .yell {
    font-weight: bold;
}

/* ADD HERE FOR ITALIC */
.italic, .italics, .emote {
    font-style: italic;
}

/* OUTPUT COLORS */
.highlight {
    background: #f7e98b; /* Soft yellow highlight */
}

h1, h2, h3, h4, h5, h6 {
    color: #d3c5af;
    font-family: Crimson Text, TrueType;
}

h1.alert, h2.alert {
    color: #d3c5af;
    font-family: Crimson Text, TrueType;
}

em {
    font-style: normal;
    font-weight: bold;
}

.ooc {
    color: #a8a8c7; /* Slightly more vibrant OOC */
    font-weight: bold;
    animation: messageFadeIn 0.2s linear;
}

.adminobserverooc {
    color: #70c5e8; /* Cyan Admin OOC */
    font-weight: bold;
    animation: messageFadeIn 0.2s linear;
}

.adminooc {
    color: #9db6f0; /* Lighter blue Admin OOC */
    font-weight: bold;
    animation: messageFadeIn 0.2s linear;
}

.adminsay {
    color: #f08a39; /* Orange Admin Say */
    font-weight: bold;
    animation: messageFadeIn 0.2s linear;
}

.admin {
    color: #92a9f0; /* Light purple/blue Admin */
    font-weight: bold;
    animation: messageFadeIn 0.2s linear;
}

.name {
    font-weight: bold;
}

.say {
    font-family: Crimson Text;
    animation: messageFadeIn 0.2s linear;
}

.deadsay {
    color: #eec6ff; /* Light Purple Dead Say */
    animation: messageFadeIn 0.2s linear;
}

.binarysay {
    color: #00ff00; /* Green Binary */
    background-color: #000000;
    display: block;
    animation: messageFadeIn 0.3s ease-in;
}

.binarysay a {
    color: #90ee90; /* Lighter Green for Binary links */
    animation: messageFadeIn 0.3s ease-in;
}

.binarysay a:active, .binarysay a:visited {
    color: #66d966; /* Darker Green for visited Binary links */
}

.radio {
    color: #71dd8e; /* Light Green Radio */
}

.sciradio {
    color: #e9a7f0; /* Purple Radio */
}

.comradio {
    color: #92b0ff; /* Light Blue Radio */
}

.secradio {
    color: #ff8282; /* Red Radio */
}

.medradio {
    color: #80daff; /* Light Cyan Radio */
}

.engradio {
    color: #f7a77a; /* Orange-Brown Radio */
}

.suppradio {
    color: #d6b27a; /* Beige Radio */
}

.servradio {
    color: #96c96c; /* Green Radio */
}

.syndradio {
    color: #c08484; /* Dark Red Radio */
}

.centcomradio {
    color: #5ab4d0; /* Teal Radio */
}

.aiprivradio {
    color: #f288c6; /* Pink Radio */
}

.redteamradio {
    color: #ff7f7f; /* Light Red Radio */
}

.blueteamradio {
    color: #7474ff; /* Light Blue Radio */
}

.yell {
    font-weight: bold;
    animation: messageFadeIn 0.3s ease-in;
}

.alert {
    color: #f76c6c; /* Soft Red Alert */
}

.emote {
    color: #d3a974; /* Brown Emote */
    font-style: italic;
    animation: messageFadeIn 0.3s ease-in;
}

.crit {
    color: #ff8080; /* Light Red Crit */
    font-weight: bold;
    text-shadow: 0px 0px 3px rgba(255, 0, 0, 0.5);
}

.userdanger {
    color: #ff7373; /* Light Red User Danger */
    text-shadow: 0 0 6px #c51e1e;
    font-size: 110%;
    animation: pain 2500ms infinite;
}

@keyframes pain {
    0% {
        color: #ff7373;
        text-shadow: 0 0 4px #c51e1e;
    }

    50% {
        color: #cc4f4f;
        text-shadow: 0 0 8px #660808;
    }

    100% {
        color: #ff0000;
        text-shadow: 0 0 4px #b9322b;
    }
}

.danger {
    color: #f55555; /* Lighter Red Danger */
    font-weight: bold;
}

.warning {
    color: #f55555; /* Lighter Red Warning */
    font-style: italic;
    font-size: 85%;
}

.alertwarning {
    color: #ff5555; /*  Red Alert Warning*/
    font-weight: bold;
}

.boldwarning {
    color: #d64646; /* Darker Red Bold Warning */
    font-weight: bold;
}

.announce {
    color: #f55555; /* Lighter Red Announce */
    font-weight: bold;
}

.boldannounce {
    color: #f55555; /* Lighter Red Bold Announce */
    font-weight: bold;
}

.greenannounce {
    color: #75d690; /* Light Green Announce */
    font-weight: bold;
}

.rose {
    color: #ff9797; /* Light Pink Rose */
}

.info {
    color: #62cc87; /* Light Green Info */
    font-size: 85%;
}

.notice {
    color: #96b2ff; /* Light Blue Notice */
}

.boldnotice {
    color: #96b2ff; /* Light Blue Bold Notice */
    font-weight: bold;
}

.hear {
    color: #e8c193; /* Light Brown Hear */
    font-style: italic;
    text-shadow: #d68148;
}

.adminnotice {
    color: #89a4ff; /* Light Blue Admin Notice */
}

.adminhelp {
    color: #ffbc66; /* Orange Admin Help */
    font-weight: bold;
}

.unconscious {
    color: #e8e8d2; /* Light Grey Unconscious */
    font-weight: bold;
}

.suicide {
    color: #ff9797; /* Light Pink Suicide */
    font-style: italic;
}

.green {
    color: #a1d498; /* Light Green */
}

.red {
    color: #d67e77; /* Light Red */
}

.blue {
    color: #92abc7; /* Light Blue */
}

.purple {
    color: #c0a8cc; /* Light Purple */
}

.nicegreen {
    color: #c6e0e7; /* Light Cyan */
}

.cult {
    color: #e13d3d; /* Dark Red Cult */
}

.cultitalic {
    color: #e13d3d;
    font-style: italic;
}

.cultbold {
    color: #e13d3d;
    font-style: italic;
    font-weight: bold;
}

.cultboldtalic {
    color: #e13d3d;
    font-weight: bold;
    font-size: 185%;
}

.cultlarge {
    color: #e13d3d;
    font-weight: bold;
    font-size: 185%;
}

.narsie {
    color: #e13d3d; /* Dark Red Narsie */
    font-weight: bold;
    font-size: 925%;
}

.narsiesmall {
    color: #e13d3d; /* Dark Red Narsie */
    font-weight: bold;
    font-size: 370%;
}

.colossus {
    color: #a84e50; /* Darker Red Colossus */
    font-size: 310%;
}

.hierophant {
    color: #ce82f5; /* Light Purple Hierophant */
    font-weight: bold;
    font-style: italic;
}

.hierophant_warning {
    color: #da96f7; /* Lighter Purple Hierophant Warning */
    font-style: italic;
}

.holoparasite {
    color: #b3acc3; /* Light Purple-Grey Holoparasite */
}

.revennotice {
    color: #5463a8; /* Dark Blue Reven Notice */
}

.revenboldnotice {
    color: #5463a8;
    font-weight: bold;
}

.revenbignotice {
    color: #5463a8;
    font-weight: bold;
    font-size: 185%;
}

.revenminor {
    color: #b178d9; /* Light Purple Reven Minor */
}

.revenwarning {
    color: #b861f7; /* Light Purple Reven Warning */
    font-style: italic;
}

.revendanger {
    color: #b861f7; /* Light Purple Reven Danger */
    font-weight: bold;
    font-size: 185%;
}

.deconversion_message {
    color: #d19aff; /* Light Purple Deconversion */
    font-size: 185%;
    font-style: italic;
}

.ghostalert {
    color: #ba7bff; /* Light Purple Ghost Alert */
    font-style: italic;
    font-weight: bold;
}

.alien {
    color: #b299b2; /* Light Purple Alien */
}

.noticealien {
    color: #75d690; /* Light Green Alien Notice */
}

.alertalien {
    color: #75d690; /* Light Green Alien Alert */
    font-weight: bold;
}

.changeling {
    color: #75d690; /* Light Green Changeling */
    font-style: italic;
}

.alertsyndie {
    color: #ff5555; /* Lighter Red Alert Syndie */
    font-size: 185%;
    font-weight: bold;
}

.spider {
    color: #ca89ff; /* Light Purple Spider */
    font-weight: bold;
    font-size: 185%;
}

.interface {
    color: #ae75ae; /* Light Purple Interface */
}

.sans {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.papyrus {
    font-family: "Papyrus", cursive, sans-serif;
}

.robot {
    font-family: "Courier New", cursive, sans-serif;
}

.command_headset {
    font-weight: bold;
    font-size: 160%;
}

.small {
    font-size: 75%;
}

.big {
    font-size: 120%;
}

.reallybig {
    font-size: 180%;
}

.extremelybig {
    font-size: 220%;
}

.greentext {
    color: #7ed6b1; /* Light Green Greentext */
    font-size: 110%;
}

.redtext {
    color: #f06464; /* Light Red Redtext */
    font-size: 110%;
}

.clown {
    color: #ffb0e2; /* Light Pink Clown */
    font-size: 160%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
}

.his_grace {
    color: #5aff5a; /* Light Green His Grace */
    font-family: "Courier New", cursive, sans-serif;
    font-style: italic;
}

.hypnophrase {
    color: #4d4d4d; /* Dark Grey Hypnophrase */
    font-weight: bold;
    animation: hypnocolor 1500ms infinite;
    animation-direction: alternate;
}

@keyframes hypnocolor {
    0% {
        color: #4d4d4d;
    }

    25% {
        color: #7f47c8;
    }

    50% {
        color: #c08cf8;
    }

    75% {
        color: #9765d6;
    }

    100% {
        color: #ace2f7;
    }
}

.phobia {
    color: #f75a5a; /* Red Phobia */
    font-weight: bold;
    animation: phobia 750ms infinite;
}

@keyframes phobia {
    0% {
        color: #ff9999;
    }

    50% {
        color: #f75a5a;
    }

    100% {
        color: #ff9999;
    }
}

.icon {
    height: 1em;
    width: auto;
}

.memo {
    color: #90bd45; /* Light Green Memo */
    text-align: center;
}

.memoedit {
    text-align: center;
    font-size: 125%;
}

.abductor {
    color: #da67da; /* Light Pink Abductor */
    font-style: italic;
}

.mind_control {
    color: #f071cc; /* Light Pink Mind Control */
    font-size: 100%;
    font-weight: bold;
    font-style: italic;
}

.slime {
    color: #66d3d3; /* Light Cyan Slime */
}

.drone {
    color: #a2a2a0; /* Light Grey Drone */
}

.monkey {
    color: #c98059; /* Light Brown Monkey */
}

.swarmer {
    color: #6bb0ff; /* Light Blue Swarmer */
}

.resonate {
    color: #6ac1b7; /* Light Teal Resonate */
}

.monkeyhive {
    color: #d9903d; /* Light Orange Monkeyhive */
}

.monkeylead {
    color: #de9736; /* Light Orange Monkeylead */
    font-size: 80%;
}

.connectionClosed, .fatalError {
    background: #ff5555; /* Light Red Connection Closed/Fatal Error */
    color: white;
    padding: 5px;
}

.connectionClosed.restored {
    background: #7ed698; /* Light Green Connection Restored */
}

.internal.boldnshit {
    color: #92a9f0; /* Light Purple/Blue Internal */
    font-weight: bold;
}

/*PANOPTICON*/
.shiten {
    color: #8f784f; /* Brown Shiten */
    font-weight: bold;
    font-style: italic;
}

.pissen {
    color: #e2e874; /* Light Yellow Pissen */
    font-style: italic;
}

.dead {
    color: #d9b1f4; /* Light Purple Dead */
}

.bloody {
    color: #e64040; /* Light Red Bloody */
}

.artery {
    color: #c07e7e; /* Light Red-Brown Artery */
}

.infection {
    color: #a5e052; /* Light Green Infection */
}

.necrosis {
    color: #90d05c; /* Light Green Necrosis */
}

.bone {
    color: #f0e6d6; /* Light Beige Bone */
}


/* HELPER CLASSES */
.text-normal {font-weight: normal;	font-style: normal;}
.hidden {display: none;	visibility: hidden;}

@keyframes messageFadeIn {
	from {
	  opacity: 0;
	  transform: translateY(10px);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
